.carousel {
  overflow: hidden;
}
.inner {
  white-space: nowrap;
  transition: transform 0s;
}

.carousel-content {
  width: calc(100% / 3);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  /* background-color: dodgerblue; */
  color: #ffff;
  margin: 10px;
  width: 50%;
}

.indicators {
  display: flex;
  justify-content: center;
  transition: background-color 0.5s ease-in-out;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: dodgerblue;
  color: white;
}

.carousel .inner {
  transition: transform 0.5s ease-in-out;
}
